body{
  background-image: url(background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  color: #ea503f;
  font-family: courier;
}

p {
  color: #ea503f;
  font-family: courier;
}

.box{
  width:700px;
  height:200px;
  margin:700px 50px;
  background-color:black;
  border:1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60);
}

.box h1{
  margin:10px 10px;
  color:white;
}

.box p{
  margin:10px 10px;
  color:white;
}

